/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/CelsiusToFahrenheit/nbproject/private/
/CelsiusToFahrenheit/build/
/Interest/nbproject/private/
/Interest/build/
/TimedComputation/nbproject/private/
/TimedComputation/build/
/EnumDemo/nbproject/private/
/EnumDemo/build/