/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/CelsiusToFahrenheit/nbproject/private/
/CelsiusToFahrenheit/build/
/Interest/nbproject/private/
/Interest/build/
/TimedComputation/nbproject/private/
/TimedComputation/build/
/EnumDemo/nbproject/private/
/EnumDemo/build/
/PrintSquare/nbproject/private/
/PrintSquare/build/
/Interest2/nbproject/private/
/Interest2/build/
/CreateProfile/nbproject/private/
/CreateProfile/build/

#word temp files
~*.docx
*.tmp
/Interest3/nbproject/private/
/Interest2WithScanner/nbproject/private/
/Interest2WithScanner/build/
/AddressBook/nbproject/private/
/BonusOnSavings/nbproject/private/
/CartesianCoordinateSystem/nbproject/private/
/BanffMarathonRunner/nbproject/private/
/EmployeeSavings/nbproject/private/
/Triangle/nbproject/private/
/HailstoneSequence/nbproject/private/
/Candidate/nbproject/private/
/Number/nbproject/private/
/TaxReturn/nbproject/private/
/Assignment 1/AddressBook/nbproject/private/
/Assignment 1/BanffMarathonRunner/nbproject/private/
/Assignment 1/BonusOnSavings/nbproject/private/
/Assignment 1/Candidate/nbproject/private/
/Assignment 1/CartesianCoordinateSystem/nbproject/private/
/Assignment 0/CelsiusToFahrenheit/nbproject/private/
/Assignment 1/EmployeeSavings/nbproject/private/
/Assignment 1/HailstoneSequence/nbproject/private/
/Assignment 1/Number/nbproject/private/
/Assignment 1/TaxReturn/nbproject/private/
/Assignment 1/Triangle/nbproject/private/